.padding {
  padding: 5px;
}

.padding-side {
  padding-left: 5px;
}

.border-sm {
  border: 2px solid silver;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.inline {
  display: inline-block;
}

.vertical-align-sub {
  vertical-align: sub;
}